@import 'tailwindcss';
@theme {
  --color-accent: #5e3bee;
  --color-accent-hover: #4d2ecb;
  --color-black-hover: #555555;
  --color-hero: #f9f9fc;
  --color-gray-number: #121212;
  --font-poppins: 'Poppins', 'sans-serif';
}
